<!DOCTYPE html>
<html>
<head>
	<title>旅在台灣－民俗風情</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html"><img style="border-radius: 50%" src="images/6.jpg" width="55" height="35"></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
              <li ><a href="home.html">home<span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">探索台灣<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="north.html">北部</a></li>
                  <li><a href="center.html">中部</a></li>
                  <li><a href="south.html">南部</a></li>
                  <li><a href="east.html">東部</a></li>
                  <li class="divider"></li>
                  <li><a href="#">更多..</a></li>
                </ul>
              </li>
              <li data-toggle="modal" data-target="#about"><a href="" >資訊快報</a></li>
              <li data-toggle="modal" data-target="#about"><a href="general.html" >台灣概況</a></li>
              <li data-toggle="modal" data-target="#about"><a href="history.html" >歷史沿革</a></li>
              <li data-toggle="modal" data-target="#about"><a href="culture.html" >民俗風情</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索景点..">
                <button type="button" class="btn btn-default">Go</button>
              </div>
            </form>


            <ul class="nav navbar-nav navbar-right">
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signin-button"><a href="login.html" >登陆</a></li>
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signup-button"><a href="register.html" >注册</a></li>
            </ul>
          </div>
        </div>
</nav>
<br>
<br>
<br>
<div class=container-fluid>
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h1 style="text-align: center;">民俗風情</h1>
			<b><p class="t">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp初到臺灣的你，一定會為這眼前的一切感到驚艷不已，因為豐富多元的歷史背景，造就了多彩多姿的臺灣文化。在臺灣你可以看到原住民、本土以及中國文化，也可以欣賞到荷蘭、日本所留下的歷史古蹟。</p></b>
            <b><p class="t">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp臺灣發展的過程中包括了原住民、早期中國閩南、 客家移民、荷蘭人、西班牙人、日本人和近期的中國大陸移民，而此地人民注重傳統文化的保存，也逐漸發展出新的文化。</p></b>
            <b><p class="t">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp民國38年隨政府播遷來臺的新移民，籍屬各省區，語種複雜，但大體都能以「官話 (mandarin)」溝通，在臺灣稱「國語」，在海外稱「華語」。隨著教育的普及，「官話」已成為臺灣各族群的共通語。</p></b>
            
		</div>
		<div class="col-sm-2">
			
		</div>

	</div>

	<div class="row">
		<div class="col-sm-2">
			
		</div>

		<div class="col-sm-4">
			<img class="img-responsive"  src="images/平溪放天燈.png"></img>
			<p style="text-align:center;">平溪放天燈</p>
		</div>

		<div class="col-sm-4">
			<img class="img-responsive"  src="images/石門放風箏.png"></img>
			<p style="text-align:center;">石門放風箏</p>
		</div>

		<div class="col-sm-2">
			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<b><b><p class="t">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp而臺灣族群由於以閩南人居多，因此會說閩南話（福佬話）的居民也不少。人數較少的客家人與各族原住民，也都保有其族群所特有的語言。由於臺灣受到日本殖民統治達半世紀之久，許多老一輩在光復前接受日本教育的居民還會說一點日語。</p></b>
      <b><p class="t">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp臺灣最普及的外語是英語，為國民教育重要的課程之一，但外國遊客搭乘計程車時，還是先將目的地以中文書寫再拿給司機看，是較為保險的作法。</p></b>
      <b><p class="t">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp此外，臺北是學習中文的絕佳地點，有許多語言學校提供中文教學，由鐘點課程到授與學分的大學課程都有，所以許多歐美人士會利用渡假或花一、兩年的時間來臺灣學習中文。</p></b>
		</div>
		<div class="col-sm-2">
			
		</div>

</div>


<div class="footer">
    <div class="container-fluid">
      <div class="footer-top">
          <div class="footer-grids">
            <div class="col-md-3 footer-logo">
              <img src="images/6.jpg" width="170" height="150">
            </div>
            <div class="col-md-3 f-address">
              <ul>
                <li>台灣省台北市大安區基隆路四段43號</li>
                <li>國立台灣科技大學</li>
                <li>Tel:+886 090-123-4567</li>
                <li>2016網頁製作</li>
            </ul></div>
            <div class="col-md-6 f-address f-contact">
              <form>
                <input type="text" placeholder="搜索景點" required="">
                <input type="submit" value="GO">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
            <div class="clearfix"> </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>