<!DOCTYPE html>
<html>
<head>
	<title>旅在台灣－歷史沿革</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html"><img style="border-radius: 50%" src="images/6.jpg" width="55" height="35"></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
              <li ><a href="home.html">home<span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">探索台灣<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="north.html">北部</a></li>
                  <li><a href="center.html">中部</a></li>
                  <li><a href="south.html">南部</a></li>
                  <li><a href="east.html">東部</a></li>
                  <li class="divider"></li>
                  <li><a href="#">更多..</a></li>
                </ul>
              </li>
              <li data-toggle="modal" data-target="#about"><a href="" >資訊快報</a></li>
              <li data-toggle="modal" data-target="#about"><a href="general.html" >台灣概況</a></li>
              <li data-toggle="modal" data-target="#about"><a href="history.html" >歷史沿革</a></li>
              <li data-toggle="modal" data-target="#about"><a href="culture.html" >民俗風情</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索景点..">
                <button type="button" class="btn btn-default">Go</button>
              </div>
            </form>


            <ul class="nav navbar-nav navbar-right">
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signin-button"><a href="login.html" >登陆</a></li>
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signup-button"><a href="register.html" >注册</a></li>
            </ul>
          </div>
        </div>
</nav>
<br>
<br>
<br>
<div class=container-fluid>
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h1>歷史沿革</h1>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17 世紀前期，荷蘭人進駐安平 ( 今臺南 ) ，建立據點，開始在臺灣進行傳教、貿易及各項生產活動，並招募大陸沿海地區的漢人來臺墾殖， 開啟臺灣多族群歷史的開端。其後，在短暫的鄭氏政權時期及清朝統治的兩百多年間，漢人移民逐漸增加，在臺灣形成漢人社會。19世紀末在帝國主義向外擴張的浪潮下，臺灣成為日本殖民地。在日本殖民統治的50年間，臺灣社會逐漸由傳統社會走向現代社會，1945年隨著第二次世界大戰結束，脫離異民族殖民地統治。20世紀後半期，在歷史的交錯中，臺灣歷經了經濟奇蹟與政治民主化的過程，舉世矚目。臺灣的歷史發展不論從臺灣本身的發展脈絡或放在世界的歷史脈絡來看，都有其特殊之處，也吸引著世界各國歷史學者的關注。</p>
		</div>
		<div class="col-sm-2">
			
		</div>

	</div>

	<div class="row">
		<div class="col-sm-2">
			
		</div>

		<div class="col-sm-4">
			<img class="img-responsive"  src="images/presidenthouse.png"></img>
			<p style="text-align:center;">總統府</p>
		</div>

		<div class="col-sm-4">
			<img class="img-responsive"  src="images/redhouse.png"></img>
			<p style="text-align:center;">淡水紅毛城</p>
		</div>

		<div class="col-sm-2">
			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在面對21世紀開展的同時，政治民主化、經濟自由化與全球化的潮流更見風起雲湧，臺灣正面臨一個全新的政經局勢與國際競爭模式。現在的臺灣，擁有優質的公共建設、便利的運輸系統及完善的通訊服務，在面對數次國際能源危機及經濟不景氣，我們創造了舉世讚譽的「經濟奇蹟」，成為開發中國家的成功典範。凡此種種，都證明了臺灣人民憑藉著永不屈撓、奮鬥不懈的堅毅精神，創造了經濟發展與政治民主的成就，這足以讓我們在世界上昂首闊步，深以為傲。</p>
		</div>
		<div class="col-sm-2">
			
		</div>

</div>


<div class="footer">
    <div class="container-fluid">
      <div class="footer-top">
          <div class="footer-grids">
            <div class="col-md-3 footer-logo">
              <img src="images/6.jpg" width="170" height="150">
            </div>
            <div class="col-md-3 f-address">
              <ul>
                <li>台灣省台北市大安區基隆路四段43號</li>
                <li>國立台灣科技大學</li>
                <li>Tel:+886 090-123-4567</li>
                <li>2016網頁製作</li>
            </ul></div>
            <div class="col-md-6 f-address f-contact">
              <form>
                <input type="text" placeholder="搜索景點" required="">
                <input type="submit" value="GO">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
            <div class="clearfix"> </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>