<!DOCTYPE html>
<html>
<head>
	<title>旅在台灣－探索台灣北部</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
     <style>
     h1,h2{text-align: center;}
     </style>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html"><img style="border-radius: 50%" src="images/6.jpg" width="55" height="35"></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
              <li ><a href="home.html">home<span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">探索台灣<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="north.html">北部</a></li>
                  <li><a href="center.html">中部</a></li>
                  <li><a href="south.html">南部</a></li>
                  <li><a href="east.html">東部</a></li>
                  <li class="divider"></li>
                  <li><a href="#">更多..</a></li>
                </ul>
              </li>
              <li data-toggle="modal" data-target="#about"><a href="" >資訊快報</a></li>
              <li data-toggle="modal" data-target="#about"><a href="general.html" >台灣概況</a></li>
              <li data-toggle="modal" data-target="#about"><a href="history.html" >歷史沿革</a></li>
              <li data-toggle="modal" data-target="#about"><a href="culture.html" >民俗風情</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索景点..">
                <button type="button" class="btn btn-default">Go</button>
              </div>
            </form>


            <ul class="nav navbar-nav navbar-right">
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signin-button"><a href="login.html" >登陆</a></li>
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signup-button"><a href="register.html" >注册</a></li>
            </ul>
          </div>
        </div>
</nav>

<div class="container-fluid">
<br>
<br>
  <div class="row">
    <div class="col-sm-12">
      <h1>探索台灣——北部</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 destination-grid">
      <h2>淡水老街</h2>
      <img class="responsive-img"  src="images/淡水老街.png" width="80%" height="60%">
    </div>

    <div class="col-sm-4 destination-grid">
      <h2>九份</h2>
      <img class="responsive-img" src="images/九份.png" width="80%" height="60%">
    </div>

    <div class="col-sm-4 destination-grid">
    <h2>总统府</h2>
    <img class="responsive-img"  src="images/总统府.png" width="80%" height="60%">
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4 destination-grid">
      <h2>陽明山國家公園</h2>
      <img class="responsive-img"  src="images/阳明山.png" width="80%" height="60%">
    </div>

    <div class="col-sm-4 destination-grid">
      <h2>野柳</h2>
      <img class="responsive-img"  src="images/野柳.png" width="80%" height="60%">
    </div>

    <div class="col-sm-4 destination-grid">
    <h2>台北101</h2>
    <img class="responsive-img"  src="images/台北101.png" width="80%" height="60%">
    </div>
  </div>


 
<div class="footer">
    <div class="container">
      <div class="footer-top">
          <div class="footer-grids">
            <div class="col-md-3 footer-logo">
              <img src="images/6.jpg" width="170" height="150">
            </div>
            <div class="col-md-3 f-address">
              <ul>
                <li>台灣省台北市大安區基隆路四段43號</li>
                <li>國立台灣科技大學</li>
                <li>Tel:+886 090-123-4567</li>
                <li>2016網頁製作</li>
            </ul></div>
            <div class="col-md-6 f-address f-contact">
              <form>
                <input type="text" placeholder="搜索景點" required="">
                <input type="submit" value="GO">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
            <div class="clearfix"> </div>
          </div>
      </div>
    </div>
  </div>

</body>
</html>